thead {
    background-color: darkblue;
    color: white;
}

table {
    width: 50%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

tr {
    font-weight: bold;
    text-align: center;
}

.bottom {
    background-color: gainsboro;
}

.leftcol {
    text-align: left;
}

.rightcol {
    text-align: right;
}

